<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Login Consortium</title>
        <link rel="stylesheet" href="/Bank/statics/css/login.css">
    </head>
    <body>
        <div id="title">CBB</div>
        <div id="form_background">
            <h1>LOGIN</h1>
            <div id="form_front">
                <form action="/login" id="login" method="post">
                    <label for="agency">AG:</label>
                    <input type="text" name="agency" id="agency" required placeholder="Digite sua agência">
                    <label for="account">AC:</label>
                    <input type="text" name="account" id="account" required placeholder="Digite sua conta">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" required placeholder="Digite sua senha">
                    <br><button type="submit" id="btn_login">
                        <span></span>
                        <span></span>
                        <span></span>Entrar
                    </button>
                </form>
            </div>
        </div>
        
    </body>
</html>