<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Login Consortium</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        {% set notification = get_flashed_messages() %}
        {% if notification %}
            <div class="flash_alert">
                {{notification[0]}}
            </div>
        {% endif %}
        <div id="title">CBB</div>
        <div id="form_background">
            <h1>LOGIN</h1>
            <div id="form_front">
                <form action="/login" id="login" method="post">
                    <label for="agency">AG:</label>
                    <input type="text" name="agency" id="agency" required placeholder="Digite sua agência">
                    <label for="account">ACC:</label>
                    <input type="text" name="account" id="account" required placeholder="Digite sua conta">
                    <label for="password">PASSWORD:</label>
                    <input type="password" name="password" id="password" required placeholder="Digite sua senha">
                    <br><button type="submit" id="btn_login">
                        <span></span>
                        <span></span>
                        <span></span>Sign In
                    </button>
                </form>
                <form action="/sign_up">
                    <br><button type="submit" id="btn_logout">
                        <span></span>
                        <span></span>
                        <span></span>Sign Up
                    </button>
                </form>
            </div>
        </div>
        
    </body>
</html>